
/** ADD YOUR AWESOME CODES HERE **/
.About
{
     text-align: center;
     font-size: 45px;
}
.description
{
	font-size: 20px;
	text-align: left;
}
.title
{
	font-size: 20px;
}
img
{
	width: 250px;
}